/.gradle
/build/
**/build/
/local.properties
/.idea/
*.iml
.gradle
/captures/
.externalNativeBuild
.DS_Store
/.cxx/
/.gradle/
/app/build/
/.idea
.idea/**
*.log
/bin/
/gen/
.gradle

# Android Studio
*.iml
.gradle
/local.properties

# Kotlin
*.kotlin_module

# JetBrains
.idea/
*.iws
*.iml
*.ipr

# Mac
.DS_Store

# Others
.gradle/
build/

# keystore
*.jks

# Crashlytics
crashlytics.properties

